$font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
$font-card: 'Justus Roman', Georgia, serif;

$color-bg: #ffffff;
$color-text: #463b2b;
$color-text-secondary: #9b8878;
$color-border: #b5b5b5;
$color-border-weak: #e8ddd5;

$bg-status-good: #5555aa85;
$bg-status-medium: #ffff54;
$bg-status-hard: #ff5555;

$radius: 9px;
$radius-small: 5px;
